.edit-person-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-person-form label {
    margin-bottom: 5px;
  }
  
  .edit-person-form input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .edit-person-form button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .edit-person-form button:last-child {
    background-color: #f44336;
    margin-left: 5px;
  }
  