*.person {
    text-align: center;
    margin: 1%;
  }
  
  .person img {
    width: 100px;
    height: 100px;
  }
  
  .person p {
    margin-top: 5px;
  }
  
  .person-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .person-buttons button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .person-buttons button:last-child {
    background-color: #f44336;
  }
  
  /* Ajoutez ces styles pour les boutons Modifier et Supprimer */
  .person-buttons button.edit-button {
    background-color: #4caf50;
  }
  
  .person-buttons button.delete-button {
    background-color: #f44336;
    margin-left: 5px;
  }
  