.trombinoscope-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crud-buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.trombinoscope {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.person {
  width: 23%;
  margin-bottom: 100px;
}

.person-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-details .details-content {
  margin-bottom: 10px;
}